.requestContainer {
  margin-top: 16vh;
  &-parent {
    text-align: center;
    width: 100%;
  }
  &-input {
    &-text {
      margin-bottom: 30px;
      input {
        color: #fff !important;
      }
    }
  }
  &-formContainer {
    &-header {
      font-size: 28px;
      font-weight: 600;
    }
    &-subHeader {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    img {
      width: 120px;
    }
  }
}