$font-stack: 'Montserrat',
sans-serif,
'fontawesome';
$primary-color: #333;
$secondary-color: #CE2027;
$tertiary-color: #157DFB;
$body-color: #F5F5F5;
$background-color: white;
$statline-color: #B4B4B4;
$statline-divider-color: #6E6E6E;
$positive-color: #56D630;
$warning-color: #AC1212;
$flag-color: #c95155;
$exit-color: #2A45BE;
$transition: 0.2s;
$disabled-color: #C7C7C7;
$subtitle-color: #ffb500;
$button-transition-timing: 0.2s;
$modal-transition: all .225s ease-out !default;