@import '../../../../styles/variables';

.submitPasswordContainer {
  margin-top: 25vh;
  h1 {
    margin-bottom: 0px;
  }
  &-input {
    &-text {
      input {
        color: #fff !important;
      }
    }
  }
  &-formContainer {
    &-header {
      font-size: 28px;
      font-weight: 600;
    }
    &-password-validators {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;
      text-align: center;
      p {
        font-size: 10px;
        font-weight: 300;
        margin: 0;
        transition-duration: 0.3s;
      }
      &-container {
        margin-top: 5px;
        text-align: left;
        width: 256px;
        &-requirements {
          font-size: 10px;
        }
        .color-warning {
          font-weight: 600;
        }
      }
    }
    img {
      width: 70px;
      margin-bottom: 25px;
      transform: rotate(90deg);
    }
    &-submitButton {
      opacity: 0;
      pointer-events: none;
      cursor: default;
      &-show {
        animation-name: showSubmitButton;
        opacity: 1;
        animation-duration: 0.9s;
        pointer-events: initial;
        cursor: pointer;
      }
      @keyframes showSubmitButton {
        0% {
          opacity: 0
        }
        5% {
          opacity: 1
        }
        7% {
          transform: scale(1.05, 1.05)
        }
        10% {
          transform: scale(1, 1);
          transform: rotate(0deg);
        }
        60% {
          transform: rotate(0deg)
        }
        63% {
          transform: rotate(0.5deg)
        }
        74% {
          transform: rotate(-0.5deg)
        }
        87% {
          transform: rotate(0.5deg)
        }
        98% {
          transform: rotate(-0.5deg)
        }
        100% {
          transform: rotate(0deg)
        }
      }
    }
  }
}