.contact {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-container {
        width: 80%;
        margin: 0 auto;
        min-width: 400px;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
    }

    &-detailsRow {
        display: flex;
        justify-content: space-between;

        .contact-inputContainer {
            &:first-child {
                margin-right: 20px;
            }
        }
    }

    &-inputContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 50px 0;

        position: relative; 
        margin-bottom: 45px; 

        .label {
            font-size: 14px;
            color: gray;
        }

        .bar {
            position: relative;
            display: block;
            width: 100%;
        }
        .bar:before, .bar:after {
            content:'';
            height: 1px; 
            width: 0;
            position: absolute;
            background:#91D6AC;
            transition: 0.2s ease all; 
        }
        .bar:before {
            left: 50%;
        }
        .bar:after {
            right: 50%; 
        }

        /* active state for input */
        input:focus ~ .bar:before, input:focus ~ .bar:after {
            width: 50%;
        }

        .highlight {
            position: absolute;
            height: 60%; 
            width: 100%; 
            top: 25%; 
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }

        input:focus ~ label, input:valid ~ label {
            top: -20px;
            font-size: 14px;
            color: #91D6AC;
        }
          
        /* active state for textarea */
        textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
            width: 50%;
        }

        textarea:focus ~ label, textarea:valid ~ label {
            top: -20px;
            font-size: 14px;
            color: #91D6AC;
        }
    }

    &-input {
        font-size: 18px;
        background: transparent;
        padding: 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #757575;

        &:focus {
            outline: none;
        }
    }

    &-submit {
        margin-left: auto;
        margin-top: 20px;
        width: 200px;
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition-duration: 0.2s;

        &:hover {
            border: 1px solid white;
        }
    }
}
