.header {
    height: 60px;
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    margin: 0;
    padding: 0 10px;
    border: 1px solid rgba(238,238,238 ,1);
    border-radius: 5px;
    align-items: center;
    color: rgba(117,117,117 ,1);
    box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);

    &-navLinks {
        padding: 0 10px;
        cursor: pointer;

        &-row {
            display: flex;
        }
    }

    &-authActions {
        display: flex;
        margin-left: auto;
        margin-right: 10px;

        p {
            padding: 0 10px;
        }
    }
}